{% extends "layout.html" %}
{% block title %}Sell{% endblock %}
{% block main %}
<h2>Sell</h2>
<form action="/sell" method="post">
    <div class="mb-3">
        <select class="form-select mx-auto w-auto" name="symbol" required>
            <option value="">Select symbol</option>
            {% for s in symbols %}
                <option value="{{ s }}">{{ s }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" min="1" step="1">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}
